- name: Remove Powerlevel10k dir
  ansible.builtin.file:
    path: "/home/{{ main_user }}/.oh-my-zsh"
    state: absent
  become: true

- name: Download Oh-my-zsh installer
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "/home/{{ main_user }}/install-oh-my-zsh.sh"
    mode: '0755'
    owner: "{{ main_user }}"
    group: "{{ main_user }}"
  become: true
  register: downloaded_script
  changed_when: downloaded_script.changed

- name: Install Oh-my-zsh (with verification)
  ansible.builtin.shell: |
    export ZSH="/home/{{ main_user }}/.oh-my-zsh"
    bash "/home/{{ main_user }}/install-oh-my-zsh.sh" --unattended
  args:
    executable: /bin/bash
    creates: "/home/{{ main_user }}/.oh-my-zsh"
  become: true
  when: downloaded_script.changed

- name: Remove install-oh-my-zsh.sh
  ansible.builtin.file:
    path: "/home/{{ main_user }}/install-oh-my-zsh.sh"
    state: absent
  become: true

- name: Clone Powerlevel10k
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ main_user }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
    update: true
  become: true

- name: Settings Oh-My-ZSH
  become: true
  block:
    - name: Clone repository fzf-zsh-plugin
      ansible.builtin.git:
        repo: https://github.com/unixorn/fzf-zsh-plugin.git
        dest: "/home/{{ main_user }}/.oh-my-zsh/custom/plugins/fzf-zsh-plugin"
        depth: 1

    - name: Create .fzf directiry
      ansible.builtin.file:
        path: "/home/{{ main_user }}/.fzf"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: "0755"
        state: directory

    - name: Clone fzf
      ansible.builtin.git:
        repo: https://github.com/junegunn/fzf.git
        dest: "/home/{{ main_user }}/.fzf"

    - name: Start install fzf
      ansible.builtin.shell:
        cmd: "/home/{{ main_user }}/.fzf/install"

    - name: Clone repository zsh-autosuggestions
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-autosuggestions.git
        dest: "/home/{{ main_user }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"

    - name: Clone repository zsh-syntax-highlighting
      ansible.builtin.git:
        repo: https://github.com/zsh-users/zsh-syntax-highlighting.git
        dest: "/home/{{ main_user }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

    - name: Change owner .oh-my-zsh
      ansible.builtin.file:
        path: "/home/{{ main_user }}/.oh-my-zsh"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        recurse: true
      become: true
