---
- name: Clone a repo with dotfiles
  ansible.builtin.git:
    repo: "https://github.com/DmitriyPalchikov/dotfiles.git"
    dest: /tmp/dotfiles

- name: Copy dotfiles
  become: true
  block:
    - name: Copy config files into .config
      ansible.builtin.copy:
        src: "/tmp/dotfiles/.config/{{ item }}"
        dest: "/home/{{ main_user }}/.config/"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: "0755"
      loop:
        - nvim
        - alacritty
        - k9s

    - name: Copy config files
      ansible.builtin.copy:
        src: "/tmp/dotfiles/{{ item }}"
        dest: "/home/{{ main_user }}/{{ item }}"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"
        mode: "0644"
      loop:
        - .zshrc
        - .tmux.conf

    - name: Delete dotfiles repo
      ansible.builtin.file:
        path: /tmp/dotfiles
        state: absent

- name: Change alias in zshrc
  ansible.builtin.replace:
    path: "/home/{{ main_user }}/.zshrc"
    regexp: '^alias cat="batcat"'
    replace: 'alias cat="bat"'
  when: ansible_facts["distribution"] == "Fedora"

