- name: Clone a repo with dotfiles
  ansible.builtin.git:
    repo: "https://github.com/DmitriyPalchikov/dotfiles.git"
    dest: /tmp/dotfiles

- name: Copy dotfiles
  become: true
  block:
    - name: Copy zshrc file
      ansible.builtin.copy:
        src: /tmp/dotfiles/.zshrc
        dest: "/home/{{ main_user }}/.zshrc"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"

    - name: Copy tmux conf file
      ansible.builtin.copy:
        src: /tmp/dotfiles/.tmux.conf
        dest: "/home/{{ main_user }}/.tmux.conf"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"

    - name: Copy nvim conf files
      ansible.builtin.copy:
        src: /tmp/dotfiles/nvim/
        dest: "/home/{{ main_user }}/.config/nvim"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"

    - name: Copy alacritty conf file
      ansible.builtin.copy:
        src: /tmp/dotfiles/alacritty/
        dest: "/home/{{ main_user }}/.config/alacritty"
        owner: "{{ main_user }}"
        group: "{{ main_user }}"

- name: Change alias in zshrc
  ansible.builtin.replace:
    path: "/home/{{ main_user }}/.zshrc"
    regexp: "^alias cat="batcat""
    replace: "alias cat="bat""
  when: ansible_facts["distribution"] == "Fedora"

- name: Delete dotfiles repo
  ansible.builtin.file:
    path: /tmp/dotfiles
    state: absent
