---
- name: Disable repo for Fedora
  ansible.builtin.dnf:
    name: fedora-cisco-openh264
    state: absent
  become: true
  when: ansible_distribution == "Fedora"

- name: Update repos DNF
  ansible.builtin.dnf:
    update_cache: true
  become: true
  when: ansible_os_family == "RedHat"

- name: Update repos APT
  ansible.builtin.apt:
    update_cache: true
  become: true
  when: ansible_os_family == "Debian"

- name: Install full packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - tmux
    - vim
    - neovim
    - git
    - alacritty
    - zsh
    - python3-passlib
    - luarocks
    - "{{ 'lua5.4' if ansible_distribution == 'Ubuntu' else 'lua' }}"
    - fzf
    - "{{ 'golang-go' if ansible_distribution == 'Ubuntu' else 'go' }}"
    - shellcheck
    - pylint
    - bat
  #    - kubectl
  become: true

- name: Install flatpak for Fedora
  ansible.builtin.package:
    name:
      - flatpak
    state: present
  become: true
  when: ansible_distribution == "Fedora"

- name: Add Flathub repo
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user
  when: ansible_distribution == "Fedora"

- name: Install luacheck
  ansible.builtin.shell:
    cmd: luarocks install luacheck
  become: true

- name: Install eza and lazygit
  block:
    - name: Get ugi info lazygit release
      ansible.builtin.uri:
        url: https://api.github.com/repos/jesseduffield/lazygit/releases/latest
        return_content: true
      register: lazygit_release

    - name: Extract version number lazygit
      ansible.builtin.set_fact:
        lazygit_version: "{{ lazygit_release.json.tag_name | regex_replace('^v', '') }}"

    - name: Clone a repos
      ansible.builtin.get_url:
        url: "{{ item.url }}"
        dest: "{{ item.path }}"
      loop:
        - {
            url: "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz",
            path: "/tmp/eza.tar.gz",
          }
        - {
            url: "https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_version }}/lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz",
            path: "/tmp/lazygit.tar.gz",
          }

    - name: Extract tar.gz files into /tmp
      ansible.builtin.unarchive:
        src: "/tmp/{{ item }}"
        dest: /tmp
      loop:
        - "eza.tar.gz"
        - "lazygit.tar.gz"

    - name: Copy files into /usr/local/bin/
      ansible.builtin.copy:
        src: "/tmp/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        owner: root
        group: root
        mode: "0755"
      become: true
      loop:
        - "eza"
        - "lazygit"

    - name: Remove archive files
      ansible.builtin.file:
        path: "/tmp/{{ item }}"
        state: absent
      become: true
      loop:
        - eza.tar.gz
        - lazygit.tar.gz
        - eza
        - lazygit
