---
- name: Preparing Fedora
  when: ansible_distribution == "Fedora"
  block:
    - name: Disable repo for Fedora
      ansible.builtin.dnf:
        name: fedora-cisco-openh264
        state: absent
      become: true

    - name: Update repos DNF
      ansible.builtin.dnf:
        update_cache: true
      become: true

    - name: Install packages for Fedora
      ansible.builtin.package:
        name:
          - "{{ item }}"
        state: present
      become: true
      loop:
        - flatpak
        - k9s

    - name: Add Flathub repo
      community.general.flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
        method: user

    - name: Install multiple Flathub packages
      community.general.flatpak:
        name:
          - com.github.johnfactotum.Foliate
          - rest.insomnia.Insomnia
          - org.remmina.Remmina
          - com.bitwarden.desktop
          - com.jgraph.drawio.desktop
          - be.alexandervanhee.gradia
          - dev.k8slens.OpenLens
          - com.obsproject.Studio
          - md.obsidian.Obsidian
          - org.wireshark.Wireshark
          - io.github.troyeguo.koodo-reader
          - org.telegram.desktop
          - com.jetbrains.GoLand
          - io.github.diegopvlk.Tomatillo
          - io.github.shonebinu.Brief


    - name: Get SourceGit file
      ansible.builtin.uri:
        url: https://codeberg.org/api/packages/yataro/rpm.repo
        return_content: true
      register: repo_info

    - name: Copy SourceGit file
      ansible.builtin.copy:
        content: "{{ repo_info.content }}"
        dest: /etc/yum.repos.d/sourcegit.repo
      become: true

    - name: Change alias in SourceGit file
      ansible.builtin.replace:
        path: "/etc/yum.repos.d/sourcegit.repo"
        regexp: 'gpgcheck=1'
        replace: 'gpgcheck=0'
      become: true

    - name: Add SourceGit repository (Fedora 41+)
      ansible.builtin.command:
        cmd: dnf config-manager addrepo --from-repofile=/etc/yum.repos.d/sourcegit.repo --overwrite
      become: true
      changed_when: true

    # - name: Download yandex rpm package
    #   ansible.builtin.get_url:
    #     url: https://repo.yandex.ru/yandex-browser/rpm/stable/x86_64/yandex-browser-stable-25.12.1.1217-1.x86_64.rpm
    #     dest: /tmp/yandex.rpm
    #
    # - name: Install Yandex Browser
    #   ansible.builtin.dnf:
    #     name: /tmp/yandex.rpm
    #     state: present
    #   become: true

- name: Preparing Ubuntu
  when: ansible_distribution == "Ubuntu"
  block:
    - name: Update repos APT
      ansible.builtin.apt:
        update_cache: true
      become: true

    - name: Install k9s for Ubuntu
      ansible.builtin.apt:
        deb: https://github.com/derailed/k9s/releases/latest/download/k9s_linux_amd64.deb
      become: true
      changed_when: true

    - name: Create /etc/apt/keyrings
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'
      become: true

    - name: Get key SourceGit
      ansible.builtin.uri:
        url: https://codeberg.org/api/packages/yataro/debian/repository.key
        return_content: true
      register: source_key

    - name: Copy key SourceGit
      ansible.builtin.copy:
        content: "{{ source_key.content }}"
        dest: /etc/apt/keyrings/sourcegit.asc

    - name: Add SourceGit repository
      ansible.builtin.apt_repository:
        repo: deb [signed-by=/etc/apt/keyrings/sourcegit.asc, arch=amd64,arm64] https://codeberg.org/api/packages/yataro/debian generic main
        state: present
        filename: sourcegit.list

    - name: Install Yandex Browser
      ansible.builtin.get_url:
        url: https://browser.yandex.ru/download?os=linux&package=deb&x64=1
        dest: /tmp/yandex.deb

    - name: Install Yandex for Ubuntu
      ansible.builtin.apt:
        deb: /tmp/yandex.deb
      become: true
      changed_when: true

- name: Install full packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - tmux
    - vim
    - neovim
    - git
    - alacritty
    - zsh
    - python3-passlib
    - luarocks
    - "{{ 'lua5.4' if ansible_distribution == 'Ubuntu' else 'lua' }}"
    - "{{ 'golang-go' if ansible_distribution == 'Ubuntu' else 'go' }}"
    - shellcheck
    - pylint
    - bat
    - cargo
    - rustup
    - sourcegit
  #    - kubectl
  become: true

- name: Install debugger for golang
  ansible.builtin.shell:
    cmd: go install github.com/go-delve/delve/cmd/dlv@latest
  become: true

- name: Install luacheck
  ansible.builtin.shell:
    cmd: luarocks install luacheck
  become: true

- name: Install eza and lazygit
  block:
    - name: Get uri info lazygit release
      ansible.builtin.uri:
        url: https://api.github.com/repos/jesseduffield/lazygit/releases/latest
        return_content: true
      register: lazygit_release

    - name: Extract version number lazygit
      ansible.builtin.set_fact:
        lazygit_version: "{{ lazygit_release.json.tag_name | regex_replace('^v', '') }}"

    - name: Clone a repos
      ansible.builtin.get_url:
        url: "{{ item.url }}"
        dest: "{{ item.path }}"
      loop:
        - {
            url: "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz",
            path: "/tmp/eza.tar.gz",
          }
        - {
            url: "https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_version }}/lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz",
            path: "/tmp/lazygit.tar.gz",
          }

    - name: Extract tar.gz files into /tmp
      ansible.builtin.unarchive:
        src: "/tmp/{{ item }}"
        dest: /tmp
      loop:
        - "eza.tar.gz"
        - "lazygit.tar.gz"

    - name: Copy files into /usr/local/bin/
      ansible.builtin.copy:
        src: "/tmp/{{ item }}"
        dest: "/usr/local/bin/{{ item }}"
        owner: root
        group: root
        mode: "0755"
      become: true
      loop:
        - "eza"
        - "lazygit"

    - name: Remove archive files
      ansible.builtin.file:
        path: "/tmp/{{ item }}"
        state: absent
      become: true
      loop:
        - eza.tar.gz
        - lazygit.tar.gz
        - eza
        - lazygit

- name: Install minikube
  ansible.builtin.get_url:
    url: https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    dest: /usr/local/bin/minikube
    mode: '0755'
  become: true

- name: Install ZED
  block:
    - name: Get script Zed
      ansible.builtin.uri:
        url: https://zed.dev/install.sh
        return_content: true
      register: zed_scripts

    - name: Copy script Zed
      ansible.builtin.copy:
        content: "{{ zed_scripts.content }}"
        dest: /tmp/install.sh

    - name: Run a script install.sh for Zed
      ansible.builtin.script: /tmp/install.sh
