- name: Disable repo for Fedora
  ansible.builtin.dnf:
    name: fedora-cisco-openh264
    state: absent
  become: true
  when: ansible_facts["distribution"] == "Fedora"

- name: Update repos
  ansible.builtin.package:
    update_cache: yes
  become: true

- name: Install full packages
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - tmux
    - vim
    - neovim
    - git
    - alacritty
    - zsh
    - python3-passlib
    - luarocks
    - lua
  #    - kubectl
  become: true

- name: Install luacheck
  ansible.builtin.shell:
    cmd: luarocks install luacheck
  become: true

- name: Install EZA
  block:
    - name: Clone a repo eza
      ansible.builtin.get_url:
        url: "https://github.com/eza-community/eza/releases/latest/download/eza_x86_64-unknown-linux-gnu.tar.gz"
        dest: /tmp/eza.tar.gz

    - name: Extract eza.tar.gz into /tmp
      ansible.builtin.unarchive:
        src: /tmp/eza.tar.gz
        dest: /tmp

    - name: Copy eza into /usr/local/bin/eza
      ansible.builtin.copy:
        src: /tmp/eza
        dest: /usr/local/bin/eza
        owner: root
        group: root
        mode: "0755"
      become: true

    - name: Remove eza.tar.gz
      ansible.builtin.file:
        src: /tmp/eza.tar.gz
        state: absent

    - name: Remove eza
      ansible.builtin.file:
        src: /tmp/eza
        state: absent
