- name: Install packages
  include_tasks: install_packages.yaml
  tags:
    - packages

- name: Install fonts
  include_tasks: install_fonts.yaml
  tags:
    - fonts

- name: Create user
  include_tasks: create_user.yaml
  tags:
    - user

- name: Install Oh-My-ZSH
  include_tasks: install_oh_my_zsh.yaml
  tags:
    - oh-my-zsh

- name: Install dotfiles
  include_tasks: install_dotfiles.yaml
  tags:
    - dotfiles

- name: Settings tmux
  include_tasks: settings_tmux.yaml
  tags:
    - tmux
