- name: Remove tmux dir
  ansible.builtin.file:
    path: "/home/{{ main_user }}/.tmux"
    state: absent
  become: true

- name: Create tmux dirs
  ansible.builtin.file:
    path: "/home/{{ main_user }}/.tmux/plugins"
    state: directory
    owner: "{{ main_user }}"
    group: "{{ main_user }}"
    mode: '0755'
  become: true

- name: Clone repository tmux tpm
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "/home/{{ main_user }}/.tmux/plugins/tpm"
  become: true

- name: Install tmux plugins
  ansible.builtin.shell: |
    su - {{ main_user }} -c "
      cd /home/{{ main_user }}/.tmux/plugins/tpm &&
      ./bin/install_plugins
    "
  become: true
  args:
    executable: /bin/bash
  ignore_errors: yes

- name: Update tmux plugins
  ansible.builtin.shell: |
    su - {{ main_user }} -c "
      cd /home/{{ main_user }}/.tmux/plugins/tpm &&
      ./bin/update_plugins all
    "
  become: true
  args:
    executable: /bin/bash
  ignore_errors: yes

- name: Find files in .tmux
  ansible.builtin.find:
    paths: "/home/{{ main_user }}/.tmux"
    file_type: any
    recurse: yes
  register: folder_contents_tmux
  become: true

- name: Change owner .tmux
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "{{ main_user }}"
    group: "{{ main_user }}"
  loop: "{{ folder_contents_tmux.files }}"
  become: true
