- name: Create tmux dirs
  ansible.builtin.file:
    path: "/home/{{ main_user }}/.tmux/plugins"
    state: directory
    owner: "{{ main_user }}"
    group: "{{ main_user }}"
    mode: '0755'
  become: true

- name: Clone repository tmux tpm
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "/home/{{ main_user }}/.tmux/plugins/tpm"
  become: true

- name: Install tmux plugins
  ansible.builtin.shell: |
    su - {{ main_user }} -c "
      cd /home/{{ main_user }}/.tmux/plugins/tpm &&
      ./bin/install_plugins
    "
  become: true
  args:
    executable: /bin/bash
  ignore_errors: yes

- name: Change owner in tmux dir {{ main_user }}
  ansible.builtin.file:
    path: "/home/{{ main_user }}/.tmux"
    owner: "{{ main_user }}"
    group: "{{ main_user }}"
    recurse: yes
    state: directory
  become: true
